<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearningUIkitApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25A82E301C3E7F530089ACFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25A82E471C3E7F530089ACFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25A82E521C3E7F530089ACFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
